.dietas{
	color: rgb(0, 0, 0);
	font-family: cursive;
	font-size: xx-large;
	text-align: center;
}

body{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
	margin-left: auto;
	margin-right: auto;
}
.enunciado {
    grid-row: 1;
    text-align: center;
    font-size: 40px;
}
.genero {
    display: grid;
    grid-row: 2;
    grid-template-columns:auto  auto;
    grid-template-rows: auto auto;
    background-color: aliceblue;
}

.genero .mujer {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto;
}
.genero .hombre {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto;
}
.hombre p {
    text-align: left;
}
.hombre .sexoh {
    grid-row: 2;
    align-self: center;
    text-align: right;
    margin-right: 40px;
}
.mujer .sexom {
    grid-row: 2;
    align-self: center;
    text-align: left;
    margin-left: 40px;
}
.hombre img {
    width: 150px;
    height: auto;
    margin-left: auto;
    border-right: 1px solid #000;
    margin-top: 20px;
}
.mujer img {
    width: 150px;
    height: auto;
    margin-right: auto;
    margin-top: 20px;
}
.peso_talla img {
    width: 150px;
    height: auto;
    margin: auto;
    
    margin-top: 20px;
}
.peso_talla {
    grid-row: 3;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: rgb(92, 169, 204);
}
.peso {
    grid-column: 1;
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
}

.edad {
    grid-column: 2;
    display: grid;
    grid-row: auto auto;
    text-align: center;
}
.altura {
    display: grid;
    grid-column: 3;
    grid-template-rows: auto auto;
    text-align: center;
}
.tipo_ejercicio img {
    width: 100%;
    height: auto;
    margin: auto;
}
.tipo_ejercicio {
    grid-row: 4;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgb(94, 143, 165);
}
.tipo_ejercicio .sedentario {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-rows:auto auto ;
}
.tipo_ejercicio > .sedentario > p {
    text-align: center;
    align-self: center;
    grid-row: 2;
}
.tipo_ejercicio .ligero {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto;
}
.tipo_ejercicio > .ligero > p {
    text-align: center;
    align-self: center;
    grid-row: 2;
}
.tipo_ejercicio .moderado {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto ;
}
.tipo_ejercicio > .moderado > p {
    text-align: center;
    align-self: center;
    grid-row: 2;
}
.tipo_ejercicio .activo {
    grid-column: 4;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto ;
}
.tipo_ejercicio > .activo > p {
    grid-row: 2;
    text-align: center;
    align-self: center;
}
.tipo_ejercicio img {
    width: 15em;
    height: 10em;
    margin: auto;
    margin-top: 10px;
}
.tipo_ejercicio .deportista {
    grid-column: 5;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto ;
}
.tipo_ejercicio > .deportista > p {
    grid-row: 2;
    text-align: center;
    align-self: center;
}

.botones {
    grid-row: 5;
    margin-top: 10px;
    text-align: center;
}
.calculadora {
    grid-row: 6;
    display: grid;
    grid-template-rows: auto auto auto;
    display: none;
}
.calculadora h2 {
    grid-row: 1;
    text-align: center;
    font-size: 50px;
    text-decoration: underline #000;
}
.funcion {
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    border-left: #000 solid 1px;
    border-right: #000 solid 1px;
    text-align: center;
    background-color: cornflowerblue;
}
.funcion .ganar {
    grid-column: 1;
    display: grid;
    grid-row: auto auto auto;
}
.ganar h3 {
    grid-row: 1;
    text-align: center;
}
.funcion .mantener {
    grid-column: 2;
    display: grid;
    grid-row: auto auto auto;
    border-left: #000 solid 1px;
    border-right: #000 solid 1px;
}
.mantener h3 {
    grid-row: 1;
    text-align: center;
}
.funcion > .mantener > img  {
    margin: auto;
    width: 74%;
    height: auto;
    margin-bottom: 10px;
}
.funcion .perder {
    grid-column: 3;
    display: grid;
    grid-row: auto auto auto;
}
.perder h3 {
    grid-row: 1;
    text-align: center;
}
.funcion img {
    margin: auto;
    width: 70%;
    height: auto;
}
.periodo {
    grid-row: 3;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border: #000 1px solid;
    background-color:skyblue;
}

.periodo .desayuno {
    grid-column: 1;
    text-align: center;
    border-right: #000 1px solid;
}

.periodo .media {
    grid-column: 2;
    text-align: center;
    border-right: #000 1px solid;
}

.periodo .comida {
    grid-column: 3;
    text-align: center;
    border-right: #000 1px solid;
}

.periodo .merienda {
    grid-column: 4;
    text-align: center;
    border-right: #000 1px solid;
}

.periodo .cena {
    grid-column: 5;
    text-align: center;
    
}
.caloria {
    font-size: larger;
    margin-bottom: 0%;
    border-top: #000 1px solid;
    border-bottom: #000 1px solid;
    align-self: center;
    padding-top: 10px;
    background: rgb(99, 32, 175);
}
.boton {
    background-color: #000000;
    height: 50px;
    font-family: cursive;
    color: rgb(6, 93, 255);
    border-radius: 15px;
    transition: all 1s;
}
.boton:hover {
    background-color: aliceblue;
    color: #000;
    transition: all 1s;
}
input {
    background-color: #9a19b4;
    border: #000 1px solid;
    color: white;
}