/*Cuerpo*/
body {
	display: grid;
	grid-template-columns: 33% 67% ;
    grid-template-rows: auto auto 1fr auto;
}
/*Imagen Hospital Felipe VI*/
.hospital {
    width: 475px;
    height: 100%;
    text-align: right;
    margin: 0;
    transition: all 0.25s ease;
    text-align: left;
    line-height: 65px;
    z-index: 5px;
    grid-column: 1;
    
}
/*Menú*/
.navegacion ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
header {
    background-color: #ffffff;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    grid-column: 1/3;
    grid-template-columns: 50% 50%;
    display: grid;
    height: 200px;
    text-align: center;
    background: url("../imagenes/hospital_gif.gif");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    grid-row: 1;
}
header > .image1 {
    grid-column: 3;
    grid-row: 1/2;
    width: 5em;
    height: 50%;
}
header > h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    text-align: center;
    align-self: center;
}
header > .imagenhospital {
    border: 10px;
    display: grid;
    align-self: center;
    
}

nav{
	grid-column: 1/3;
	position: sticky;
	top: 10px;
	bottom: 100%;
	z-index: 5;
    margin: 0;
    background-color: #d10002;
    grid-row: 2;
}

ul li:hover{
	background-color: #d10002;
	text-decoration: none;
}

.navegacion{
	width: 100%;
	font-size: medium;
    position: sticky;
	top: 10px;
	bottom: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 33% 47% 20%;
}
.boton_registro {
    display: grid;
    grid-column: 3;
    
    margin: auto;
    margin-top: 7.5% ;
}
.navegacion ul{
	list-style: none;
    align-self: center;
}
ul.menu {
    margin: 1em;	
}
.menu > li{
	position: relative;
	display: inline-block;
}
.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #ffffff;
	font-family: 'Open sans';
	text-decoration: none;
}
.menu li a:hover{
	color: #000000;
	transition: all 0.7s;
    text-decoration: underline 2px;
    transform: all 0.7s;
}
.sumenu{
	position: absolute;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
    z-index: 5;
} 
.sumenu li a{
	display: block;
	padding: 15px;
	color: #ffffff;
	font-family: 'Open sans';
	text-decoration: none;
    background-color: #d10002;
}
.menu li:hover .sumenu{
	visibility: visible;
	opacity: 1;
}
/*Main*/
main {
    grid-column: 1/3;
    grid-row: 3;
}

/*Footer*/
.contenedor > ul > li, .fila > .contenedor > ul{
    list-style-type: none;
}

.footer {
    background-color: #d10002;
    padding: 0px 0;
    display: grid;
    grid-column: 1/3;
    grid-row: 4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cont {
    max-width: 1170px;
    background-color: #d10002;
    margin: auto;
}
.contenedor {
    width: 25%;
    padding: 0 15px;
}
.fila {
    display: flex;
    flex-wrap: wrap;
}

.contenedor h4, .fila > .contenedor > ul {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.contenedor ul li:not(:last-child){
    margin-bottom: 10px;
}
.contenedor ul li a, .fila > .contenedor > ul > a{
    font-size: 16px;
    text-transform: capitalize;
    color: #4e0cc9;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}

.contenedor ul li a:hover, .fila > .contenedor > ul > a:hover{
    color: #000000;
    padding-left: 0px ;
    text-decoration: underline;
    transition: all 0.5s;

}
@media(max-width: 767px){
    .contenedor {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:574px) {
    .contenedor {
        width: 100%;
    }
}

.footer p{
    width: 390px;
    margin: auto;
    padding: 7px;
    text-align: center;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

footer .parrafos {
    background-color:mediumblue;
}

/*Departamentos: Servicios y Descripción*/
.descripcion, .servicios {
    background-color: #f2f2f2;
    border: 1px black;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h3 {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h31 {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    margin-left: 20%;
    grid-column: 2;
}
.servicios {
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.servicios ul {
    list-style-type: none;
    padding: 0;
    grid-column: 2;
    margin-left: 100px;
}
.servicios .h3 {
    align-self: center;
    text-align: center;
}
.servicios > ul > li:hover {
    background-color: #f2f2f2;
}
.servicios li {
    padding: 5px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Parte de Imágenes de Médicos*/
/*Indicamos que tiene una disposición en grid y le indicamos las filas y columnas que tendrá. Por último, al tener el main una disposición en grid, le damos lo que queremos 
que ocupe respecto al main, que será desde la columna 1 a la 3.*/
main .cardiologos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1/3;
}
/*Indicamos el ancho y alto que tendrán las imágenes de los médicos*/
main > .cardiologos > .c1 > img, main > .cardiologos > .c2 > img,
main > .cardiologos > .c3 > img, main > .cardiologos > .c5 > img
, main > .cardiologos > .c4 > img ,main > .cardiologos > .c6 > img{
    width: 300px;
    height: 100%;
}

/*Imágenes y Contenido Médicos*/
/*Indicamos la posición que tendrá cada imagen y la disposición que tendrá el texto. Por otro lado, le redondearemos el borde indicándole su radio.*/
main > .cardiologos > .c1 {
    grid-column: 1;
    grid-row: 1;
    background-color: #d10002;
    text-align: center;
    border-radius: 50px;
}
main > .cardiologos > .c2 {
    grid-column: 2;
    grid-row: 2;
    background: #4e0cc9;
    text-align: center;
    border-radius: 50px;
}
main > .cardiologos > .c3 {
    grid-column: 1;
    grid-row: 2;
    background-color: #d10002;
    text-align: center;
    border-radius: 50px;
}
main > .cardiologos > .c4 {
    grid-column: 2;
    grid-row: 1;
    background-color: #4e0cc9;
    border-radius: 50px;
    text-align: center;
}
main > .cardiologos > .c5 {
    grid-column: 3;
    grid-row: 2;
    background-color: #d10002;
    text-align: center;
    border-radius: 50px;
}
main > .cardiologos > .c6 {
    grid-column: 3;
    grid-row: 1;
    background-color: #d10002;
    border-radius: 50px;
    text-align: center;
}
/*Le damos un color y estilo a la fuente de los médicos*/
main > .cardiologos > div > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}
/*le damos un tamaño y un margen a los contenedores de las imágenes de los médicos*/
.c1,.c2,.c3,.c4,.c5,.c6 {
    height: auto;
    width: 300px;
    margin: auto;
}
/*Favicons*/
/*Indica mediante variables el color que tomqrán los iconos de las redes sociales en el pie (footer)*/
:root{
    --facebook: #3b5999;
    --instagram: #d75d90;
    --twitter: #0f0f0f;
    --youtube: #ff0000;
    --linkedin: #0a66c2;
}
/*Permite tener una disposición flex al contenedor de los iconos y nos da una posición central. Por otro lado, le indicamos que sea una posición que acompañará la subida,
haciendo que suba cuando hagamos scroll con el ratón*/
.redessociales {
    display: flex;
    background-color: #d10002;
    height: 100px;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
}
/*Ponemos todos los iconos en linea y le damos margen y tamaño a los iconos*/
.redessociales ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 30px;
    text-align: center;
}
/*Le indicamos la disposición que tendrá los enlaces de los iconos, el fondo y le damos una sombra al enlace. Le damos una transición para hacer la animación*/
.redessociales ul li a {
    display: block;
    padding:0 10px;
    background-color: #808080;
    color: #ffffff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px;
    transition: 0.4s;
}
.redessociales ul:hover a{
    filter:blur(1px);
}
/*Le indicamos una transformación que nos permite agrandar el icono al hacer hover y transladarlo en Y. Por último, le quitamos el filtro al icono*/
.redessociales ul li a:hover {
    transform: translateY(-3px) scale(1.5);
    filter: none;
}
/*Mediante variables, le indicamos los colores que tendrá cada icono*/
.redessociales ul li .facebook {
    background-color: var(--facebook);
}
.redessociales ul li .instagram {
    background-color: var(--instagram);
}
.redessociales ul li .twitter {
    background-color: var(--twitter);
}
.redessociales ul li .youtube{
    background-color: var(--youtube);
}
.redessociales ul li .linkedin{
    background-color: var(--linkedin);
}

/*reloj*/
/*Le indicamos la posición que tendrá el contendor, le damos un color de fondo, además, le diremos que a la hora de bajar, se quede en una posición fija junto al encabezado,
por último, para que vaya hacia abajo, le inddicamos un bottom. Le indicamos una fuente al texto.*/
.cont_fecha {
    background-color:#0199cb;
    text-align: center;
    width: 100%;
    position: sticky; 
    top: 130px;
	bottom: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*Indicamos la posición y el tamaño de la fuente que tendrá el reloj*/
#reloj {
    font-size: 25px;
    display: inline;
}
#fecha {
    font-size:18px;
    display: inline;
    padding-left: 50px;
}

/*Noticias del index*/
/*Le damos una posición al contenedor del texto, le damos un borde y alto/ancho. A continuación, le damos una disposición en grid, lo cual nos permitirá colocar el contenido
por reguillas. Le damos un padding al contenido. Por último, le indicamos una imagen de fondo y el comportamiento que tendrá la imagen (No se repetirá, cubrirá todo el contenido y
tendrá una fijación cuando subamos y bajemos en la página.*/
.articulo {
    border:1px solid black;
    height: auto;
    width:auto;
    display:grid;
    grid-template-columns: auto auto;
    padding:5%;
    background-image: url("../imagenes/hospitalgeneral.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
/*Indicamos donde se va a situar dentro del div, luego le damos un padding a la izquierda para separarlo un poco del margen, le damos un color y tamaña al texto y le damos un 
color de fondo, además del tamaño que va a ocupar la página*/
.articulo p{
    grid-column: 2;
    grid-row:1;
    padding-left:2%;
    color: white;
    font-size:25px;
    background-color:#0f2b645c;
    width: 100%;
    
}
/*Le damos un alto y un archo a la imagen del contendor*/
.hospitalart {
    height:200px;
    width: auto;
        
}
/*Indicamos donde se va a colocarse el titulo del contenedor. Al igual que el texto le damos un padding a la izquierda y un color, tanto de fondo como a la fuente*/
.articulo h1 {
    grid-column:2;
    grid-row:1;
    padding-left: 3%;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, rgba(26, 26, 159, 0.495), pink);
}
/*Por último, le damos estilos a la linea horizontal, que tendrá un margen en todos los lados, una altura acorde al contendor y le damos color*/
.articulo hr {
    margin: 4%;
    height: 3px;
    color: rgb(0, 0, 0);
    background: #ffffff;
}
/*https://www.youtube.com/shorts/8Rc18lfl68c*/
.noticias {
    margin-top: 100px;
    display: flex;
    width: 100%;
    height: 430px;

}
.noticias img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;   
}

.noticias img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.noticias a {
    display: flex;
    flex-grow: 1;
}
/*https://www.youtube.com/watch?v=ogiaTnas2-A*/
.noticias2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.noticias21 {
    margin: 150px auto;
    width: 70%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.noticias21 img {
    max-width: 320px;
    float: left;
    border: 3px solid #0199cb;
    border-radius: 10px;
    margin-right: 10px;
}
.noticias211 p {
    margin-top: 50px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: 100%;
} 
.noticias211 h2{
    font-size: 50px;
    color: rgb(0, 0, 0);
}
.noticias211 h3{
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.texto {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
}
.p1 {
    border-right: #000000 1px solid;
    grid-column: 1;
    text-align: justify;
    padding-right: 10px;
}
.p2 {
    margin-left: 10px;
    grid-column: 3;
    padding-left: 10px;
    text-align: justify;
}