/*Cuerpo*/
body {
	display: grid;
	grid-template-columns: 33% 67% ;
    grid-template-rows: auto auto 1fr auto;
}
/*Imagen Hospital Felipe VI*/
.hospital {
    width: 475px;
    height: 100%;
    text-align: right;
    margin: 0;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    text-align: left;
    line-height: 65px;
    z-index: 5px;
    grid-column: 1;
    
}
/*Menú*/
.navegacion ul{
	list-style: none;
	margin: 0;
	padding: 0;
  }
header {
    background-color: #ffffff;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    grid-column: 1/3;
    grid-template-columns: 50% 50%;
    display: grid;
    height: 200px;
    text-align: center;
    background: url("../imagenes/hospital_gif.gif");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    grid-row: 1;
}
header > .image1 {
    grid-column: 3;
    grid-row: 1/2;
    width: 5em;
    height: 50%;
}
header > h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    text-align: center;
    align-self: center;
}
header > .imagenhospital {
    border: 10px;
    display: grid;
    align-self: center;
    
}

nav{
	grid-column: 1/3;
	position: sticky;
	top: 10px;
	bottom: 100%;
	z-index: 5;
    margin: 0;
    background-color: #d10002;
    grid-row: 2;
}

ul li:hover{
	background-color: #d10002;
	text-decoration: none;
}

.navegacion{
	width: 100%;
	font-size: medium;
    position: sticky;
	top: 10px;
	bottom: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 33% 47% 20%;
}
.boton_registro {
    display: grid;
    grid-column: 3;
    
    margin: auto;
    margin-top: 7.5% ;
}
.navegacion ul{
	list-style: none;
    align-self: center;
}
ul.menu {
    margin: 1em;	
}
.menu > li{
	position: relative;
	display: inline-block;
}
  
.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #ffffff;
	font-family: 'Open sans';
	text-decoration: none;
}
  
.menu li a:hover{
	color: #000000;
	transition: all 0.7s;
    text-decoration: underline 2px;
    transform: all 0.7s;
}
  
.sumenu{
	position: absolute;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
    z-index: 5;
}
  
.sumenu li a{
	display: block;
	padding: 15px;
	color: #ffffff;
	font-family: 'Open sans';
	text-decoration: none;
    background-color: #d10002;
}
.menu li:hover .sumenu{
	visibility: visible;
	opacity: 1;
}
/*Main*/
main {
    grid-column: 1/3;
    grid-row: 3;
}

/*Footer*/
.contenedor > ul > li, .fila > .contenedor > ul{
    list-style-type: none;
}

.footer {
    background-color: #d10002;
    padding: 0px 0;
    display: grid;
    grid-column: 1/3;
    grid-row: 4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cont {
    max-width: 1170px;
    background-color: #d10002;
    margin: auto;
}
.contenedor {
    width: 25%;
    padding: 0 15px;
}
.fila {
    display: flex;
    flex-wrap: wrap;
}

.contenedor h4, .fila > .contenedor > ul {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
}


.contenedor ul li:not(:last-child){
    margin-bottom: 10px;
}
.contenedor ul li a, .fila > .contenedor > ul > a{
    font-size: 16px;
    text-transform: capitalize;
    color: #4e0cc9;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}

.contenedor ul li a:hover, .fila > .contenedor > ul > a:hover{
    color: #000000;
    padding-left: 0px ;
    text-decoration: underline;
    transition: all 0.5s;

}
@media(max-width: 767px){
    .contenedor {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:574px) {
    .contenedor {
        width: 100%;
    }
}

.footer p{
    width: 390px;
    margin: auto;
    padding: 7px;
    text-align: center;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

 footer .parrafos {
    background-color:mediumblue;
}
/*Tabla*/
.descripcion, .servicios {
    background-color: #f2f2f2;
    border: 1px black;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h3 {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h31 {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    margin-left: 20%;
    grid-column: 2;
}
.servicios {
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.servicios ul {
    list-style-type: none;
    padding: 0;
    grid-column: 2;
    margin-left: 100px;
}
.servicios .h3 {
    align-self: center;
    text-align: center;
}
.servicios > ul > li:hover {
    background-color: #f2f2f2;
}
.servicios li {
    padding: 5px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main .cardiologos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1/3;
}
main > .cardiologos > .c1 {
    grid-column: 1;
    grid-row: 1;
    background-color: #d10002;
    text-align: center;
    border-radius: 50px;
    animation: fadeIn 2s 3s ease both;
}
main > .cardiologos > .c1 > img, main > .cardiologos > .c2 > img,
 main > .cardiologos > .c3 > img, main > .cardiologos > .c5 > img
 , main > .cardiologos > .c4 > img ,main > .cardiologos > .c6 > img{
    width: 300px;
    height: 100%;
}
main > .cardiologos > .c2 {
    grid-column: 2;
    grid-row: 2;
    background: #4e0cc9;
    text-align: center;
    border-radius: 50px;
    animation: fadeOut 2s 4s ease both;
}
main > .cardiologos > .c3 {
    grid-column: 1;
    grid-row: 2;
    background-color: #d10002;
    text-align: center;
    border-radius: 50px;
    animation: fadeIn 2s 3s ease both;
}
main > .cardiologos > .c4 {
    grid-column: 2;
    grid-row: 1;
    background-color: #4e0cc9;
    border-radius: 50px;
    text-align: center;
    animation: fadeIn 2s 3s ease both;
}
main > .cardiologos > .c5 {
    grid-column: 3;
    grid-row: 2;
    background-color: #d10002;
    text-align: center;
    border-radius: 50px;
    animation: fadeOut 2s 4s ease both;
}
main > .cardiologos > .c6 {
    grid-column: 3;
    grid-row: 1;
    background-color: #d10002;
    border-radius: 50px;
    text-align: center;
    animation: fadeOut 2s 4s ease both;
}
main > .cardiologos > div > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}
.c1,.c2,.c3,.c4,.c5,.c6 {
    height: auto;
    width: 300px;
    margin: auto;
}

:root{
    --facebook: #3b5999;
    --instagram: #d75d90;
    --twitter: #0f0f0f;
    --youtube: #ff0000;
    --linkedin: #0a66c2;
}
.redessociales {
    display: flex;
    background-color: #d10002;
    height: 100px;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
}
.redessociales ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 30px;
    text-align: center;
}
.redessociales ul li a {
    display: block;
    padding:0 10px;
    background-color: #808080;
    color: #ffffff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px;
    transition: 0.4s;
}
.redessociales ul:hover a{
    filter:blur(1px);
}
.redessociales ul li a:hover {
    transform: translateY(-3px) scale(1.5);
    filter: none;
}

.redessociales ul li .facebook {
    background-color: var(--facebook);
}
.redessociales ul li .instagram {
    background-color: var(--instagram);
}
.redessociales ul li .twitter {
    background-color: var(--twitter);
}
.redessociales ul li .youtube{
    background-color: var(--youtube);
}
.redessociales ul li .linkedin{
    background-color: var(--linkedin);
}

/*reloj*/

.cont_fecha {
    background-color:#0199cb;
    text-align: center;
    width: 100%;
    position: sticky;
   
}
#reloj {
    font-size: 25px;
    display: inline;
}
#fecha {
    font-size:18px;
    display: inline;
    padding-left: 50px;
}

/*Animación*/
  
/*https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes*/
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeOut {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }